h1 {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

button {
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.contactUsContainer {
  width: 100vw;
  height: 70vh;
  background-color: rgba(245, 232, 221, 0.25);
}

.contactContent {
  padding: 20px 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  transition: all 0.3s ease-in-out;
}

.contactText {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: all 0.3s ease-in-out;
  padding: 0px 10px;
}

.contactText h1 {
  font-size: 26px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.6);
  transition: all 0.3s ease-in-out;
}

.contactText p {
  font-size: 12px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
}

.contactForm {
  /* background-color: aquamarine; */
  width: 280px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.contactForm form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 90%;
  height: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.contactForm form input {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: none;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease-in-out;
}

.contactForm form input,
.contactForm form textarea {
  outline: none;
}

.contactForm form input:focus,
.contactForm form textarea:focus {
  outline: 0.8px solid rgba(157, 91, 255, 0.7);
  outline-style: outset;
}

.contactForm form input::placeholder,
.contactForm form textarea::placeholder {
  font-size: 13px;
  font-style: italic;
  letter-spacing: 1px;
  font-weight: 300;
  font-family: sans-serif;
  color: rgba(0, 0, 0, 0.25);
}

.contactForm form textarea {
  resize: none;
  width: 100%;
  height: 100px;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease-in-out;
}

.contactForm form button {
  position: absolute;
  left: -20px;
  bottom: -70px;
  width: 180px;
  height: 50px;
  border-radius: 8px;
  border: none;
  background-color: rgba(157, 91, 255, 0.7);
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 500;
  color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    inset 0 4px 4px rgba(255, 255, 255, 0.25);
  transition: all 0.3s ease-in-out;
}

/* Media Queries */

@media (min-width: 375px) {
  .contactText h1 {
    font-size: 28px;
  }

  .contactText p {
    font-size: 12px;
  }

  .contactForm {
    width: 320px;
  }
}

@media (min-width: 410px) {
  .contactText h1 {
    font-size: 30px;
  }

  .contactText p {
    font-size: 14px;
  }

  .contactForm {
    width: 350px;
  }

  .contactForm form input {
    font-size: 15px;
  }

  .contactForm form input::placeholder,
  .contactForm form textarea::placeholder {
    font-size: 14px;
  }
}

@media (min-width: 610px) {
  .contactForm {
    width: 500px;
  }

  .contactForm form {
    gap: 20px;
  }

  .contactForm form input {
    font-size: 16px;
  }

  .contactForm form input::placeholder,
  .contactForm form textarea::placeholder {
    font-size: 16px;
  }

  .contactForm form textarea {
    height: 120px;
    font-size: 16px;
  }

  .contactForm form button {
    width: 250px;
    height: 50px;
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .contactText h1 {
    font-size: 40px;
  }

  .contactText p {
    font-size: 16px;
  }

  .contactForm {
    width: 650px;
  }

  .contactForm form {
    gap: 30px;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
