h1 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.courseListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  padding: 0px 0px;
  /* gap: 30px; */
}

.coursesSectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.courseListHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

/* .courseTextHeader {
  text-align: center;
} */

.courseTextHeader h1 {
  font-size: 26px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.6);
  transition: all 0.3s ease-in-out;
}

.courseTextHeader p {
  font-size: 12px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 15px;
  transition: all 0.3s ease-in-out;
}

.courseCategories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
  padding: 0px 10px;
  transition: all 0.3s ease-in-out;
}

.courseCategories button {
  padding: 10px 20px;
  border: none;
  border-radius: 35px;
  background-color: rgba(157, 91, 255, 0.2);
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.courseCategories button.active {
  background-color: rgba(157, 91, 255, 0.56);
  font-weight: bold;
  color: white;
}

.courseListItems {
  height: auto;
  width: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

/* Media queries */
@media (min-width: 375px) {
  .courseTextHeader h1 {
    font-size: 28px;
  }

  .courseTextHeader p {
    font-size: 12px;
  }
}

@media (min-width: 410px) {
  .courseTextHeader h1 {
    font-size: 30px;
  }

  .courseTextHeader p {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .courseTextHeader h1 {
    font-size: 40px;
  }

  .courseTextHeader p {
    font-size: 16px;
    font-weight: 400;
  }

  .courseCategories {
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .courseCategories button {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
  }

  .courseListItems {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .courseListItems {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
}
