.courseListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  padding: 0px 0px;
  gap: 30px;
}

.courseListItems {
  height: auto;
  width: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

/* Media queries */
@media (min-width: 768px) {
  .courseListItems {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .courseListItems {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
}
