p {
  padding: 0;
  margin: 0;
}

h3 {
  padding: 0;
  margin: 0;
}

.featuresContainer {
  width: 100vw;
  height: auto;
  background-color: #fffafa;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.featuresContent {
  position: static;
  top: auto;
  left: auto;
  transform: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: max-content;
  height: auto;
  padding: 2rem 2rem;
  transition: all 0.5s ease-in-out;
}

.featureItem {
  flex: 0 0 auto;
  margin-right: 2rem;
  transition: all 0.5s ease-in-out;
}

.featureItem:last-child {
  margin-right: 0;
}

.featureIcon {
  width: 100px;
  height: 100px;
  background-color: rgba(245, 232, 221, 0.25);
  border-radius: 100%;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    inset 0 4px 4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    inset 0 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    inset 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

.featureText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

.featureText h3 {
  font-size: 16px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease-in-out;
}

.featureText p {
  font-size: 12px;
  color: rgba(157, 91, 255, 0.7);
  font-style: italic;
  font-weight: 500;
  transition: all 0.5s ease-in-out;
}

/* Media Queries */
@media (min-width: 375px) {
}

@media (min-width: 410px) {
}

@media (min-width: 768px) {
  .featuresContainer {
    height: 30vh;
    overflow-x: hidden;
    position: relative;
  }

  .featuresContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0;
  }

  .featureItem {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    gap: 10px;
  }
}

@media (min-width: 900px) {
  .featureItem {
    margin-right: 2rem;
  }
}

@media (min-width: 992px) {
  .featuresContent {
    justify-content: space-around;
    width: 90%;
  }

  .featureItem {
    margin-right: 1rem;
  }
}

@media (min-width: 1200px) {
  .featuresContent {
    justify-content: center;
    width: 100%;
  }

  .featureItem {
    flex-direction: row;
  }
}

@media (min-width: 1400px) {
  .featuresContent {
    justify-content: space-around;
    width: 90%;
  }

  .featureItem {
    margin-right: 0;
  }
}
