ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

h1 {
  padding: 0;
  margin: 0;
}

h4 {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

button {
  padding: 0;
  margin: 0;
  cursor: pointer;
  border: none;
}

.footerContainer {
  width: 100vw;
  height: 70vh;
  background: linear-gradient(
    90deg,
    rgba(168, 127, 228, 0.5) 0%,
    rgba(119, 57, 211, 0.5) 34.16%,
    rgba(103, 0, 255, 0.5) 68.26%
  );
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0 4px 4px rgba(255, 255, 255, 0.25);
}

.footerContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* gap: 100px; */
  position: relative;
  transition: all 0.3s ease-in-out;
}

.upperContent {
  position: absolute;
  top: 0;
  width: 100%;
  height: 75%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.upperContentInfo {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  transition: all 0.3s ease-in-out;
}

.leftUpper {
  display: flex;
  flex-direction: column;
  /* background-color: antiquewhite; */
  /* justify-content: space-between; */
  gap: 10px;
  margin-left: 20px;
  transition: all 0.3s ease-in-out;
}

.leftUpper h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 58px;
  color: #f9f5f6;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease-in-out;
}

.leftUpper button {
  background: rgba(157, 91, 255, 0.7);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0 4px 4px rgba(255, 255, 255, 0.25);
  border-radius: 8px;
  width: 150px;
  height: 50px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #f9f5f6;
  transition: all 0.3s ease-in-out;
}

.centerUpper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
  margin-left: 20px;
  transition: all 0.3s ease-in-out;
}

.centerUpper h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
  color: #f9f5f6;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.centerUpper ul {
  display: flex;
  flex-direction: column;
  gap: 0px;
  transition: all 0.3s ease-in-out;
}

.centerUpper ul li {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: rgba(245, 232, 221, 0.8);
}

.leftCenter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  transition: all 0.3s ease-in-out;
}

.rightCenter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  transition: all 0.3s ease-in-out;
}

.rightUpper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
  margin-top: -15px; /* This is a temporary fix */
  gap: 5px;
  transition: all 0.3s ease-in-out;
}

.rightUpper h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
  color: #f9f5f6;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.socialIcons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  transition: all 0.3s ease-in-out;
}

.iconSocialItem {
  font-size: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.lowerContent {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  border-top: 0.5px solid #f2f2f2;
}

.lowerContentText {
  margin-top: 0px;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 20px;
  transition: all 0.3s ease-in-out;
}

.lowerContentText p {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: rgba(245, 232, 221, 0.8);
  transition: all 0.3s ease-in-out;
}

.lowerContentText button {
  width: 130px;
  height: 45px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: rgba(157, 91, 255, 0.7);
  transition: all 0.3s ease-in-out;
}

/* Media queries */

@media (min-width: 375px) {
}

@media (min-width: 410px) {
}

@media (min-width: 610px) {
}

@media (min-width: 768px) {
  .footerContainer {
    height: 50vh;
  }

  .upperContentInfo {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0px;
    margin: 0px 20px;
  }

  .leftUpper {
    flex-direction: column;
    gap: 60px;
    margin-left: 0px;
  }

  .leftUpper h1 {
    font-size: 48px;
  }

  .leftUpper button {
    width: 170px;
    font-size: 18px;
  }

  .centerUpper {
    gap: 50px;
    margin-left: 0px;
  }

  .centerUpper h4 {
    font-size: 24px;
  }

  .centerUpper ul {
    gap: 8px;
  }

  .centerUpper ul li {
    font-size: 16px;
  }

  .leftCenter {
    gap: 10px;
  }

  .rightCenter {
    gap: 10px;
  }

  .rightUpper {
    margin-left: 0px;
    margin-top: -70px; /* This is a temporary fix */
  }

  .rightUpper h4 {
    font-size: 24px;
  }

  .iconSocialItem {
    font-size: 35px;
  }

  .lowerContentText p {
    font-size: 16px;
  }

  .lowerContentText button {
    width: 165px;
    font-size: 16px;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1240px) {
  .upperContentInfo {
    width: 1200px;
    margin: 0px 0px;
  }

  .lowerContentText {
    width: 1200px;
    margin: 0px 0px;
  }
}

@media (min-width: 1400px) {
}
