h1 {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

button {
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.heroContainer {
  width: 100vw;
  height: 60vh;
  background-color: rgba(245, 232, 221, 0.25);
}

.heroContent {
  display: flex;
  flex-direction: column;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.searchBar {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  right: 15px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    inset 0 4px 4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    inset 0 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    inset 0 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.5s ease-in-out;
}

.searchBar p {
  font-size: 16px;
  line-height: 23px;
  color: rgba(0, 0, 0, 0.2);
  margin-left: 30px;
  display: none;
  transition: all 0.5s ease-in-out;
}

.searchBar span {
  /* No margin right*/
  transition: all 0.5s ease-in-out;
}

.searchBar span .searchIcon {
  font-size: 25px;
  color: rgba(0, 0, 0, 0.5);
  transition: color 0.2s ease-in-out;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.searchBar span .searchIcon:hover {
  color: rgba(0, 0, 0, 0.8);
}

.heroContentMain {
  padding-top: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  transition: all 0.5s ease-in-out;
}

.textCtaContent {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 92%;
  transition: all 0.5s ease-in-out;
}

.ctaTexts {
  display: flex;
  flex-direction: column;
  gap: 5px;
  transition: all 0.5s ease-in-out;
}

.ctaTexts h1 {
  font-size: 27px;
  color: rgba(0, 0, 0, 0.6);
  transition: all 0.5s ease-in-out;
}

.greenTxt {
  color: rgba(1, 220, 75, 0.5);
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}

.purpleTxt {
  color: rgba(157, 91, 255, 0.7);
}

.ctaTexts p {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  transition: all 0.5s ease-in-out;
}

.ctaBtn {
  display: flex;
  flex-direction: row;
  gap: 15px;
  transition: all 0.5s ease-in-out;
}

.btnPurple {
  width: 130px;
  height: 50px;
  border: none;
  border-radius: 35px;
  background-color: rgba(157, 91, 255, 0.7);
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0 4px 4px rgba(255, 255, 255, 0.25);
  transition: all 0.5s ease-in-out;
}

.btnWhite {
  width: 130px;
  height: 50px;
  border: none;
  border-radius: 35px;
  background-color: #fff;
  color: rgba(1, 220, 75, 0.62);
  font-size: 16px;
  font-weight: bold;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.5s ease-in-out;
}

.heroAnimation {
  margin-right: 15px;
  display: none;
  transition: all 0.5s ease-in-out;
}

/* Media Queries */
@media (min-width: 375px) {
}

@media (min-width: 410px) {
  .searchBar {
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
    height: 55px;
    border-radius: 35px;
    justify-content: space-between;
    -webkit-box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.25);
  }

  .searchBar p {
    display: block;
    font-size: 16px;
    line-height: 23px;
    margin-left: 30px;
  }

  .searchBar span {
    margin-right: 30px;
  }

  .searchBar span .searchIcon {
    font-size: 30px;
  }

  .heroContentMain {
    padding-top: 120px;
  }

  .textCtaContent {
    margin-left: 20px;
    gap: 30px;
    width: 100%;
  }

  .ctaTexts {
    gap: 10px;
  }

  .ctaTexts h1 {
    font-size: 35px;
  }

  .ctaTexts p {
    font-size: 20px;
  }

  .ctaBtn {
    gap: 20px;
  }

  .btnPurple,
  .btnWhite {
    width: 160px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
  }

  .heroAnimation {
    margin-right: 20px;
  }
}

@media (min-width: 570px) {
  .searchBar {
    width: 450px;
    height: 55px;
  }

  .textCtaContent {
    margin-left: 30px;
  }

  .ctaTexts h1 {
    font-size: 40px;
  }

  .ctaTexts p {
    font-size: 22px;
  }

  .btnPurple,
  .btnWhite {
    width: 180px;
    height: 60px;
    font-size: 22px;
  }
}

@media (min-width: 700px) {
  .searchBar {
    width: 550px;
    height: 60px;
  }

  .ctaTexts h1 {
    font-size: 45px;
  }
}

@media (min-width: 768px) {
  .searchBar {
    width: 630px;
    height: 60px;
  }

  .searchBar p {
    font-size: 18px;
    line-height: 23px;
  }

  .searchBar span .searchIcon {
    font-size: 35px;
  }
}

@media (min-width: 992px) {
  .searchBar {
    width: 850px;
    height: 60px;
    border-radius: 35px;
  }

  .searchBar p {
    font-size: 20px;
    line-height: 23px;
    margin-left: 30px;
  }

  .searchBar span {
  }

  .heroContentMain {
    padding-top: 150px;
  }

  .textCtaContent {
    margin-left: 50px;
    width: 70%;
  }

  .heroAnimation {
    margin-right: 50px;
    display: block;
    width: 30%;
  }
}

@media (min-width: 1200px) {
  .searchBar {
  }

  .searchBar p {
  }

  .searchBar span {
  }
}
