h1 {
  padding: 0;
  margin: 0;
}

h3 {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

button {
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.testimonialsContainer {
  width: 100vw;
  /* min-height: 75vh; */
  min-height: 90vh;
  height: 75vh;
  background-color: #fffafa;
}

.testimonialsContent {
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}

.testimonialsText {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: all 0.3s ease-in-out;
  padding: 0px 10px;
}

.testimonialsText h1 {
  font-size: 26px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.6);
  transition: all 0.3s ease-in-out;
}

.testimonialsText p {
  font-size: 12px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
}

.testimonialItems {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  transition: all 0.3s ease-in-out;
  /* justify-content: center; */
  /* background-color: aquamarine; */
}

.userBubbleAnimationBg {
  margin-top: 10px;
  /* background-color: bisque; */
  position: relative;
  width: 300px;
  height: 200px;
  transition: all 0.3s ease-in-out;
  /* overflow: hidden; */
}

.userBubbleAnimation {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(157, 91, 255, 0.2);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    inset 0 4px 4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    inset 0 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    inset 0 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease-in-out;
}

.bubble1 {
  left: 2%;
  top: 5%;
  width: 80px;
  height: 80px;
  animation: bubbleAnimation1 10s infinite linear;
  transition: all 0.3s ease-in-out;
}

.bubble2 {
  left: 30%;
  top: 30%;
  width: 60px;
  height: 60px;
  animation: bubbleAnimation2 10s infinite linear;
  transition: all 0.3s ease-in-out;
}

.bubble3 {
  left: 50%;
  top: 5%;
  width: 30px;
  height: 30px;
  animation: bubbleAnimation3 10s infinite linear;
  transition: all 0.3s ease-in-out;
}

.bubble4 {
  left: 60%;
  top: 25%;
  width: 50px;
  height: 50px;
  animation: bubbleAnimation4 10s infinite linear;
  transition: all 0.3s ease-in-out;
}

.bubble5 {
  left: 73%;
  top: 5%;
  width: 70px;
  height: 70px;
  animation: bubbleAnimation5 10s infinite linear;
  transition: all 0.3s ease-in-out;
}

.testimonialCardHolder {
  width: 300px;
  height: 350px;
  background-color: #fff;
  border-radius: 40px;
  border: 1px solid rgba(245, 232, 221, 0.25);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 130px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.testimonialCard {
  width: 270px;
  height: 320px;
  border-radius: 30px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  /* backdrop-filter: blur(4px); */
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.testimonialCardContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: aquamarine; */
  position: relative;
  transition: all 0.3s ease-in-out;
}

.prevNextBtns {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}

.prevNextBtns button {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: rgba(245, 232, 221, 0.25);
  border: none;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    inset 0 4px 4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    inset 0 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    inset 0 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.7);
  transition: all 0.3s ease-in-out;
}

.prevBtn {
  position: absolute;
  left: 10px;
  top: 57%;
}

.nextBtn {
  position: absolute;
  right: 10px;
  top: 57%;
}

.userTestimonial {
  position: absolute;
  width: 200px;
  height: 100%;
  /* background-color: bisque; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  transition: all 0.3s ease-in-out;
}

.userInfo {
  margin-top: 10px;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  transition: all 0.3s ease-in-out;
}

.userImg {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: rgba(157, 91, 255, 0.2);
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    inset 0 4px 4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    inset 0 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    inset 0 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease-in-out;
}

.userNameDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.userNameDetails h3 {
  font-size: 20px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  transition: all 0.3s ease-in-out;
}

.userNameDetails p {
  font-size: 12px;
  font-style: italic;
  color: rgba(157, 91, 255, 0.56);
  transition: all 0.3s ease-in-out;
}

.userTestimony {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.userTestimony p {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-style: italic;
  transition: all 0.3s ease-in-out;
}

/* Media Queries */

@media (min-width: 375px) {
  .testimonialsText h1 {
    font-size: 28px;
  }

  .testimonialsText p {
    font-size: 12px;
  }
}

@media (min-width: 410px) {
  .testimonialsText h1 {
    font-size: 30px;
  }

  .testimonialsText p {
    font-size: 14px;
  }
}

@media (min-width: 610px) {
  .userBubbleAnimationBg {
    width: 520px;
    height: 200px;
  }

  .bubble1 {
    left: 5%;
    width: 100px;
    height: 100px;
  }

  .bubble2 {
    left: 30%;
    width: 80px;
    height: 80px;
  }

  .bubble3 {
    left: 50%;
    width: 50px;
    height: 50px;
  }

  .bubble4 {
    left: 65%;
    width: 70px;
    height: 70px;
  }

  .bubble5 {
    left: 85%;
    width: 90px;
    height: 90px;
  }

  .testimonialCardHolder {
    width: 520px;
    height: 300px;
  }

  .testimonialCard {
    width: 490px;
    height: 270px;
  }

  .prevNextBtns button {
    width: 35px;
    height: 35px;
    font-size: 16px;
  }

  .prevBtn {
    left: 20px;
    top: 40%;
  }

  .nextBtn {
    right: 20px;
    top: 40%;
  }

  .userTestimonial {
    width: 400px;
    gap: 10px;
  }

  .userImg {
    width: 80px;
    height: 80px;
  }

  .userNameDetails p {
    font-size: 13px;
  }

  .userTestimony p {
    font-size: 13px;
  }
}

@media (min-width: 768px) {
  /* .testimonialsContainer {
    min-height: 75vh;
  } */

  .testimonialsText h1 {
    font-size: 40px;
  }
  .testimonialsText p {
    font-size: 16px;
  }

  .userBubbleAnimationBg {
    width: 500px;
    height: 200px;
  }

  .testimonialCardHolder {
    width: 620px;
  }

  .testimonialCard {
    width: 590px;
  }

  .userTestimonial {
    width: 450px;
  }

  .userNameDetails h3 {
    font-size: 20px;
  }

  .userNameDetails p {
    font-size: 14px;
  }

  .userTestimony p {
    font-size: 14px;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}

/* Bubble Animation */

@keyframes bubbleAnimation1 {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-10px, -5px);
  }
  50% {
    transform: translate(5px, 10px);
  }
  75% {
    transform: translate(-15px, 5px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes bubbleAnimation2 {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(5px, 15px);
  }
  50% {
    transform: translate(-10px, -5px);
  }
  75% {
    transform: translate(15px, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes bubbleAnimation3 {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(10px, -15px);
  }
  50% {
    transform: translate(-5px, 5px);
  }
  75% {
    transform: translate(15px, -10px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes bubbleAnimation4 {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-15px, 10px);
  }
  50% {
    transform: translate(5px, -15px);
  }
  75% {
    transform: translate(-10px, 5px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes bubbleAnimation5 {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(15px, -10px);
  }
  50% {
    transform: translate(-5px, -5px);
  }
  75% {
    transform: translate(10px, 15px);
  }
  100% {
    transform: translate(0, 0);
  }
}

/* @keyframes bubbleAnimation {
    0% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(10px, 20px);
    }
    50% {
      transform: translate(-5px, 10px);
    }
    75% {
      transform: translate(20px, -5px);
    }
    100% {
      transform: translate(0, 0);
    }
  } */
