p {
  margin: 0;
  padding: 0;
}

.userNavContainer {
  position: fixed;
  bottom: 10px;
  left: 10px;
  width: 300px;
  height: 60px;
  max-width: 60px;
  background: rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 999;
  gap: 15px;
  border-radius: 100%;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    inset 0 4px 4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    inset 0 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    inset 0 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.userNavContainer.expanded {
  height: 70px;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 300px;
  border-radius: 25px;
}

.menuIcon {
  cursor: pointer;
  font-size: 30px; /* Not working */
}

.userMenuItem {
  color: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 5px 0px;
  transition: all 0.3s ease-in-out;
}

.userMenuItem:hover {
  color: rgba(0, 0, 0, 1);
}

.userMenuItem.active {
  position: relative;
  z-index: 20;
}

.userMenuItem.active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 20px;
  margin-top: -15px;
  border-radius: 0 0 20px 20px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.6) 50%,
    rgba(0, 0, 0, 0.5) 100%
  );
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
}

.userMenuItem.active.animate::before {
  opacity: 1;
  animation: fadeIn 0.5s ease-out forwards;
}

.userMenuItem p {
  font-size: 12px;
  font-weight: 600;
}

/* Media Queries */
@media (min-width: 375px) {
  .userNavContainer {
    width: 350px;
    gap: 25px;
  }
  .userNavContainer.expanded {
    max-width: 350px;
  }
}

@media (min-width: 410px) {
  .userNavContainer {
    max-width: 80px;
    height: 80px;
    width: 380px;
    gap: 30px;
  }
  .userNavContainer.expanded {
    height: 80px;
    max-width: 380px;
  }
}

@media (min-width: 768px) {
  .userNavContainer {
    width: 480px;
    gap: 50px;
  }

  .userNavContainer.expanded {
    max-width: 480px;
  }
}

@media (min-width: 992px) {
  .userNavContainer {
    width: 500px;
    gap: 50px;
  }

  .userNavContainer.expanded {
    max-width: 500px;
  }
}

@media (min-width: 1200px) {
  .userNavContainer {
    width: 600px;
    height: 100px;
    gap: 50px;
    max-width: 100px;
  }

  .userNavContainer.expanded {
    height: 100px;
    max-width: 600px;
  }

  .userMenuItem.active::before {
    width: 43px;
    height: 25px;
    margin-top: -22px;
  }

  .userMenuItem p {
    font-size: 16px;
  }
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
